<div class="wrapper">  
  <div class="container">
    <%= month_calendar partial: 'simple_calendar/month_calendar' do |date| %>
      <%= date %>
    <% end %>
    <div class="planting-container mt-6">
      <div class="text-center text-green-500 text-lg font-bold">
        選んだ野菜
      </div>
      <div class="flex flex-wrap">
        <% @plantings.each do |planting| %>
        <div class="w-1/3 text-center">
          <div class="border rounded-lg m-3 p-6">
            <%= link_to planting.vegetable.name, mypage_planting_path(planting) %>
          </div>
        </div>
        <% end %>
        <div class="w-full text-center m-3">
          <%= link_to "＋",planting_vegetable_searches_path, class: "btn-primary bg-green-500 rounded-lg p-3 font-bold" %>
        </div>
      </div>
    </div>
  </div>
</div>
