<div class="wrapper mx-auto">
  <div class="text-center mb-12">
    <a href="#" class="py-3 px-4 gap-2 rounded-md border-2 border-green-200 font-semibold text-green-500 hover:text-white hover:bg-green-500 hover:border-green-500 focus:outline-none focus:ring-2 focus:ring-green-200 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
      あなたの家にぴったりな野菜をさがしてみる
    </a>
  </div>
  <div class="ml-8">
    <%= image_tag('vegetable.png') %>
  </div>
  <div class="md:container md:mx-auto mb-3">
    <ul class="text-center flex-col m-12 text-sm">
      <li>子どもが小さいときのお出かけ先に困っている家族へ</li>
      <li>1つの鉢植えからシェアワークまで、健康とおいしい体験を生み出す</li>
      <li>”家庭菜園”と”あなた”をつなぐサービスです。</li>
    </ul>
  </div>
</div>
