<div class="wrapper mx-auto">
  <div class="text-center mb-12">
    <a href="#">あなたの家にぴったりな野菜をさがしてみる</a>
  </div>
  <div class="ml-8">
    <%= image_tag('vegetable.png') %>
  </div>
  <div class="md:container md:mx-auto mb-3">
    <ul class="text-center flex-col m-12 text-sm">
      <li>子どもが小さいときのお出かけ先に困っている家族へ</li>
      <li>1つの鉢植えからシェアワークまで、健康とおいしい体験を生み出す</li>
      <li>”家庭菜園”と”あなた”をつなぐサービスです。</li>
    </ul>
  </div>
</div>
