<% if object.errors.any? %>
<div class="border-2" role="alert">
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="m-3 bg-red-100"><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>