<div class="container p-3">
  <div class="my-8">
    <h2 class="text-2xl mb-4">つぶやきを投稿する</h2>
    <div class="bg-white rounded px-8 pt-6 pb-8 mb-4">
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
